{% extends 'footer_igreen.html' %}
{% block banner %}
    <div class="banner_business">
        <img src="/media/design/banner_business.jpg">
        <div class="content_banner">
            <div class="logo_business">
                <img src="/media/icons/logo_business.svg">
            </div>
            <div class="text_banner">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec netus luctus tristique elit elementum
            </div>
            <div class="banner_icons">
                <div class="icons_banner">
                    <div class="icon">
                        <img src="/media/icons/icons_banner_1.svg">
                    </div>
                    <div class="text_icon">Франшиза</div>
                </div>
                <div class="icons_banner">
                    <div class="icon">
                        <img src="/media/icons/icons_banner_1.svg">
                    </div>
                    <div class="text_icon">HoReСa</div>
                </div>
                <div class="icons_banner">
                    <div class="icon">
                        <img src="/media/icons/icons_banner_1.svg">
                    </div>
                    <div class="text_icon">Торгові точки
                        та мережі
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback_icon">
            <div class="icon_phone">
                <img src="/media/icons/phone_bunner_icon.svg">
            </div>
            <div class="feedback_icon_text"> Зворотній зв’язок</div>
        </div>
    </div>
    <div class="bloks_business">
        <div class="row_block">
            <div class="wrap_2">
                <div class="block text_right">
                    <div class="block_text">
                        <div class="title">Франшиза</div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet, euismod persequeris an cum. Nisl propriae inciderint ne vis. Eos autem oratio option an, ad doming aliquam sadipscing nam, dico tincidunt
                                mea ex. Cu dicunt aliquid gubergren nam, amet iuvaret theophrastus at sed, ut usu nusquam offendit. Ex pro eripuit splendide, commune senserit similique te vis. Eu mea
                                deleniti convenire tincidunt, sale sanctus incorrupte ad eum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, euismod persequeris an cum. Nisl propriae inciderint ne vis. Eos autem oratio option an, ad doming aliquam sadipscing nam, dico tincidunt
                                mea ex. Cu dicunt aliquid gubergren nam, amet iuvaret theophrastus at sed, ut usu nusquam offendit. Ex pro eripuit splendide, commune senserit similique te vis. Eu mea
                                deleniti convenire tincidunt, sale sanctus incorrupte ad eum.
                            </p>
                        </div>
                        <div class="blog_business_button_block">
                            <a href="#" class="button_blog_business">Читати більше</a>
                        </div>
                    </div>
                    <div class="image"><img src="/media/design/blog_business_1.png" alt=""/></div>
                </div>
            </div>
        </div>
        <div class="row_block">
            <div class="wrap_2">
                <div class="block text_left">
                    <div class="block_text text_left">
                        <div class="title">Lorem ipsum dolor</div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet, euismod persequeris an cum. Nisl propriae inciderint ne vis. Eos autem oratio option an, ad doming aliquam sadipscing nam, dico tincidunt
                                mea ex. Cu dicunt aliquid gubergren nam, amet iuvaret theophrastus at sed, ut usu nusquam offendit. Ex pro eripuit splendide, commune senserit similique te vis. Eu mea
                                deleniti convenire tincidunt, sale sanctus incorrupte ad eum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, euismod persequeris an cum. Nisl propriae inciderint ne vis. Eos autem oratio option an, ad doming aliquam sadipscing nam, dico tincidunt
                                mea ex. Cu dicunt aliquid gubergren nam, amet iuvaret theophrastus at sed, ut usu nusquam offendit. Ex pro eripuit splendide, commune senserit similique te vis. Eu mea
                                deleniti convenire tincidunt, sale sanctus incorrupte ad eum.
                            </p>
                        </div>
                        <div class="blog_business_button_block">
                            <a href="#" class="button_blog_business">Читати більше</a>
                        </div>
                    </div>
                    <div class="image"><img src="/media/design/blog_business_2.jpg" alt=""/></div>
                </div>
            </div>
        </div>
        <div class="row_block">
            <div class="wrap_2">
                <div class="block text_right">
                    <div class="block_text">
                        <div class="title">Lorem ipsum dolor</div>
                        <div class="text">
                            <p>
                                Lorem ipsum dolor sit amet, euismod persequeris an cum. Nisl propriae inciderint ne vis. Eos autem oratio option an, ad doming aliquam sadipscing nam, dico tincidunt
                                mea ex. Cu dicunt aliquid gubergren nam, amet iuvaret theophrastus at sed, ut usu nusquam offendit. Ex pro eripuit splendide, commune senserit similique te vis. Eu mea
                                deleniti convenire tincidunt, sale sanctus incorrupte ad eum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, euismod persequeris an cum. Nisl propriae inciderint ne vis. Eos autem oratio option an, ad doming aliquam sadipscing nam, dico tincidunt
                                mea ex. Cu dicunt aliquid gubergren nam, amet iuvaret theophrastus at sed, ut usu nusquam offendit. Ex pro eripuit splendide, commune senserit similique te vis. Eu mea
                                deleniti convenire tincidunt, sale sanctus incorrupte ad eum.
                            </p>
                        </div>
                        <div class="blog_business_button_block">
                            <a href="#" class="button_blog_business">Читати більше</a>
                        </div>
                    </div>
                    <div class="image"><img src="/media/design/blog_business_3.jpg" alt=""/></div>
                </div>
            </div>
        </div>
    </div>
    <div class="block_ours_customers">
        <div class="wrap_2">
            <div class="block_customers_content">
                <div class="block_title">Наші клієнти</div>
                <div class="info_customers">
                    <div class="customer_info">
                        <div class="customer_image">
                            <img src="/media/design/customer_img.jpg">
                        </div>
                        <div class="customer_text">Lorem ipsum</div>
                    </div>
                    <div class="customer_info">
                        <div class="customer_image">
                            <img src="/media/design/customer_img.jpg">
                        </div>
                        <div class="customer_text">Lorem ipsum</div>
                    </div>
                    <div class="customer_info">
                        <div class="customer_image">
                            <img src="/media/design/customer_img.jpg">
                        </div>
                        <div class="customer_text">Lorem ipsum</div>
                    </div>
                    <div class="customer_info">
                        <div class="customer_image">
                            <img src="/media/design/customer_img.jpg">
                        </div>
                        <div class="customer_text">Lorem ipsum</div>
                    </div>
                </div>
                <div class="button_customers">
                    <a class="all_customers" href="#">Всі наші клієнти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block reasons %}{% endblock %}
{% block categories_main_page %}{% endblock %}
{% block text_blocks_main_page %}{% endblock %}
