{% load static %}

<link rel="stylesheet" href="{% static 'jquery/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'jquery/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'nouislider/nouislider.min.css' %}">
<link rel="stylesheet" href="{% static "style.css" %}" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{% static '/jquery/external/jquery/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/sweetalert.min.js" %}"></script>
<script src="{% static "js/jquery.maskedinput.js" %}"></script>
<script src="{% static "jquery/jquery-ui.js" %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script src="{% static 'jquery/jquery.fancybox.js' %}"></script>
<script src="{% static 'nouislider/nouislider.min.js' %}"></script>