{% extends 'wrapper.html' %}
{% load i18n %}
{% block body %}
    <div class="page__password_reset">
        <div class="container">
            <div class="text-center">
                <div class="page_heading">{% trans "account__password_reset" %}</div>
            </div>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ form.email.errors }}
                        <label for="id_email">{% translate 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
                    <input class="btn_v1 w-100" type="submit" value="{% translate 'Reset my password' %}">
                </fieldset>
                {% csrf_token %}
            </form>
        </div>
    </div>


{% endblock %}