{% extends 'wrapper.html' %}
{% load i18n %}
{% block body %}
    <div class="container">
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">{% translate 'New_password:' %}</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">{% translate 'Confirm_password:' %}</label>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" value="{% translate 'Change_my_password' %}">
            </fieldset>
        </form>
    </div>
{% endblock %}