$c1: #850C0C;
$c2: #11998E;
$c3: #2DC968;
$c4: #c1a5e1;

$black: #222;
$text1: #222;
$text2: #555;
$text3: #9ea8b9;

$gray: #c5c5c5;

$gray1: #f0f0f0;
$gray2: #e1e1e1;
$gray3: #c5c5c5;
$gray4: #b3b3b3;

$a_main: blue;
$a_text_gradient: -webkit-linear-gradient(0deg, #ff863b, #ff4040);

$h1: 35px;
$h2: 25px;
$h3: 19px;
$h4: 15px;
$h5: 13px;

$bp_s: 599px;
$bp_m: 600px;
$bp_l: 992px;
$bp_xl: 1200px;