{% load i18n %}
<div class="modal fade" id="modal-testimonials" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal_header"><i class="fas fa-briefcase"></i>{% trans 'products__add_review' %}</div>
            <div class="modal_body">
                <input class="input_v1" id="testimonials_author" placeholder="{% trans 'form__fio' %}*" type="text">
                <input class="input_v1" id="testimonials_comment" placeholder="{% trans 'form__comment' %}*" type="text">
                <div class="rating-area">
                    <input class="testimonials_rating" type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>
                    <input class="testimonials_rating" type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>
                    <input class="testimonials_rating" type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>
                    <input class="testimonials_rating" type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>
                    <input class="testimonials_rating" type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                <div class="file-upload">
                    <label class="attach_photo_btn" for="add_testimonials_attach_photo"><i class="far fa-image"></i> {% trans 'attach_photo' %}</label>
                    <input type="file" id="add_testimonials_attach_photo" class="d-none" multiple accept="image/*">
                    <div class="attach_photo_name" id="attach_photo_name"></div>
                </div>
                <div class="modal_footer">
                    <a id="submit_form" onclick="add_testimonial()">{% trans 'form__submit' %}</a>
                    <a class="close_form" data-dismiss="modal">{% trans 'form__close' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
