{% load static %}
{% load i18n %}
{% load checkout_admin_tags %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
<div class="container">
    <div class="row">
        <div class="col-4">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>{% trans 'admin_order_info' %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ order.date }}</td>
                </tr>
                <tr>
                    <td>{{ order.payment_type|value_payment_type }}</td>
                </tr>
                <tr>
                    <td>{{ order.is_paid }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>{% trans 'admin_order_customer_info' %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ order.first_name }}, {{ order.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ order.user.email }}</td>
                </tr>
                <tr>
                    <td>{{ order.phone }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">{{ order.phone }}</div>
    </div>
</div>
