{% load fb_versions %}
{% load currency_tags %}
{% load i18n %}
{% load thumbnail %}
<div class="cart_item" data-cart-item-id="{{ item.id }}">
    <div class="item_image">
{#        <img src="{% thumbnail item.product.image '75x75' crop='center' quality=30 %}" alt="">#}
        <picture>
            {% thumbnail item.product.image '75x75' crop="center" quality=30 format="WEBP" as im %}
                <source srcset="{{ im.url }}" type="image/webp">
            {% endthumbnail %}
            {% thumbnail item.product.image '75x75' crop="center" quality=30 format="JPEG" as im %}
                <source srcset="{{ im.url }}" type="image/jpeg">
                <img src="{{ im.url }}" alt="" width="{{ im.width }}">
            {% endthumbnail %}
        </picture>
        <div class="qty">{{ item.qty }}{% trans 'pcs' %}</div>
    </div>
    <div class="content">
        <a href="{{ item.product.get_absolute_url }}">
            <div class="name">{{ item.product }} </div>
        </a>
        <div class="options">
            {% for option in item.options %}{{ option.option_name }}: {{ option.option_value_name }}{% if not forloop.last %}, {% endif %} {% endfor %}
        </div>
        <div class="price_data">
            {% comment %}
                    {% if item.cart_item.discount > 0 %}
                        <span class="discount">-{{ item.cart_item.discount }}%</span>
                    {% endif %}
                    {% endcomment %}
            <span class="current_price">{% tag_convert_currency_price request item.cart_item.current_price %}</span>
            {% comment %}<span class="stable_price">{% tag_convert_currency_price request item.cart_item.stable_price %}</span>{% endcomment %}

        </div>
    </div>
    <div class="buttons">
                <span class="del_from_cart" data-cart-item-id="{{ item.id }}">
                    <i class="fas fa-trash"></i>
                </span>
    </div>
</div>