.page__blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h1 {
    flex-basis: 100%;
    font-size: 38px;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
  }

  .categories_wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    grid-column-gap: 25px;

    .categories_title {
      font-size: 18px;
      font-weight: bold;
    }

    .category_title {
      color: black;
      padding: 7px 10px;
      box-shadow: 0px 2px 5px rgb(0, 0, 0);
      border-radius: 15px;

      &:hover {
        background: #8c898912;
        cursor: pointer;
      }
    }
  }

  .articles_wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .article_min {
      margin-bottom: 30px;
      border: 1px solid #999999;
      box-sizing: border-box;
      border-radius: 5px;
      padding: unset;
      flex-basis: 100%;
      @media (min-width: 576px) {
        flex-basis: calc(90% / 2);
      }
      @media (min-width: 1200px) {
        flex-basis: calc(93% / 3);
      }
      img{
        border-radius: 5px 5px 0px 0px;
      }
    }

    .no_articles {
      color: #9ea8b9;
      font-size: 19px;
    }
  }
}

.articles_wrapper {
  display: flex;
  flex-wrap: wrap;
}